In [1]:
mi_var = 2
print(mi_var)

2

In [2]:
constante = 8.5
type(constante)

float

In [3]:
type(mi_var)

int

In [4]:
mi_nombre = 'Luiza"'

In [5]:
type(mi_nombre)

str

In [6]:
Pi = 3.1416

In [7]:
var_comillas = 'True'
var_sin_comillas = True
print('Se trata de lo mismo?', var_comillas == var_sin_comillas)

Se trata de lo mismo? False

In [9]:
type(var_comillas)

str

In [10]:
type(var_sin_comillas)

bool

In [12]:
suma = 2 + 3.5
print(suma)

5.5

In [14]:
a = 10 + 5j
b = 20 - 10j
operacion = a + b
print(operacion)

(30-5j)

In [16]:
operacion2 = (-3/4) + a
print(operacion2)

(9.25+5j)

In [17]:
20 * 30

600

In [18]:
2 ** 8

256

In [20]:
c = 27/4
print(c)

6.75

In [23]:
27//4

6

In [24]:
27%4

3

In [25]:
6*4 + 3

27

In [26]:
'Hola1' + '3 mundos'

'Hola13 mundos'

In [27]:
"2" == 2

False

In [28]:
int("2") == 2

True

In [29]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

In [32]:
c = 3
c -= 25
print(c)

-22

In [33]:
1 << 2

4

In [34]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [36]:
var_string = ' incomodam '
var_int = 2
print('Dois elefantes ' + var_string * var_int + ' muito mais')

Dois elefantes  incomodam  incomodam  muito mais